.header{
  display: flex;
  justify-content: center;
}
.card {
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}